# /etc/systemd/system/home-monitoring.service

[Unit]
Description=Docker Compose Service for Home monitoring solution
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/pi/home-monitoring
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target